<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/manufacturer_registration_post" method="post">
<table width="329" border="">
  <tr>
    <td width="176">Company Name</td>
    <td width="48"><label for="textfield3"></label>
      <input type="text" name="textfield" id="textfield3" /></td>
  </tr>
  <tr>
    <td>propritor</td>
    <td><label for="textfield4"></label>
      <input type="text" name="textfield2" id="textfield4" /></td>
  </tr>
  <tr>
    <td>e-mail</td>
    <td><label for="textfield5"></label>
      <input type="text" name="textfield3" id="textfield5" /></td>
  </tr>
  <tr>
    <td>phone</td>
    <td><label for="textfield6"></label>
      <input type="text" name="textfield4" id="textfield6" /></td>
  </tr>
  <tr>
    <td>place</td>
    <td><label for="textfield7"></label>
      <input type="text" name="textfield5" id="textfield7" /></td>
  </tr>
  <tr>
    <td>post</td>
    <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield9" /></td>
  </tr>
  <tr>
    <td>pin code</td>
    <td><label for="textfield8"></label>
      <input type="text" name="textfield6" id="textfield8" /></td>
  </tr>

  <tr>
    <td colspan="2"><input type="submit" name="1" id="1" value="Submit" /></td>
  </tr>
</table>
</form>
</body>
</html>
