<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="329" border="0">
  <tr>
    <td width="176">Company Name</td>
    <td width="48">&nbsp;</td>
  </tr>
  <tr>
    <td>propritor</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>e-mail</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>phone</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>place</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>pin code</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="1" id="1" value="Submit" /></td>
  </tr>
</table>
</body>
</html>
