{% extends 'user/Usage.html' %}
{% block body %}
<body>
  <table class="table table-borderless table-striped table-hover">
    <tr>
      <form id="form1" name="form1" method="post" action="/product_quantity">
      <td></td>
      <td>
        <select name="select" id="select" onchange="location = this.value;">
           <option value="/product_quantity_six">Six Mounth</option>
           <option value="/product_quantity">This Month</option>
           <option value="/product_quantity_previous/1">Previous Month</option>
           <option value="/product_quantity_year">This Year</option>
        </select>
      </td>

      </form>
    </tr>
    <tr>
      <td>Product Quanity</td>
       {% for i in data %}
      <td>{{ i['COUNT(`quantity`.`pid`)']}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Product Type</td>
       {% for i in data %}
      <td> {{ i['TypeName']}} </td>
      {% endfor %}
    </tr>
  </table>
  <table class="table table-borderless table-striped table-hover">
    <tr>
      <td>Product</td>
      <td> Product Type</td>
      <td>Shope</td>
      <td>Date</td>
    </tr>
     {% for i in data1 %}
    <tr>
      <td>{{i['p_name']}}</td>
      <td>{{i['Typename']}}</td>
      <td>{{i['s_name']}}</td>
      <td>{{i['date']}}</td>
    </tr>
    {% endfor %}
  </table>
</body>
{% endblock %}
