<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="219" border="0">
  <tr>
    <td width="160">Name</td>
    <td width="49">&nbsp;</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>e-mail</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Place</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Post</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Pin</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="button" id="button" value="Submit" /></td>
  </tr>
</table>
</body>
</html>
