<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/user_signup_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
<table width="219" border="1">
  <tr>
    <td width="160">Name</td>
    <td><input type="text" name="textfield1"/></td>&nbsp;</td>
  </tr>
  <tr>
    <td>Age</td>
    <td><input type="text" name="textfield2"/></td>&nbsp;</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td> <input type="radio" name="textfield3" value="male" > Male </input>
      <br> <input type="radio" name="textfield3" value="female" > Female </input> </td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="text" name="textfield4"/></td>&nbsp;</td>
  </tr>
  <tr>
    <td>e-mail</td>
    <td><input type="text" name="textfield5"/></td>&nbsp;</td>
  </tr>
  <tr>
    <td>Place</td>
    <td><input type="text" name="textfield6"/></td>&nbsp;</td>
  </tr>
  <tr>
    <td>Post</td>
    <td><input type="text" name="textfield7"/></td>&nbsp;</td>
  </tr>
  <tr>
    <td>Pin</td>
    <td><input type="text" name="textfield8"/></td>&nbsp;</td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input type="password" name="textfield10"/></td>&nbsp;</td>
  </tr>
  <tr>
    <tr>
    <td>Confirm Password</td>
    <td><input type="password" name="textfield11"/></td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="button" id="button" value="Submit" /></td>
  </tr>
</table>
</form>
</body>
</html>
