<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "User/Scan_UI.html" %}
{% block body %}
<body>
<h2> QR Details</h2>
<form id="form1" name="form1" method="post" action="">
  <table  class="table table-borderless table-striped table-hover">
    <tr>
      <td>Owner_Id</td>
      <td>Product Type</td>
      <td>Purchase date</td>
    </tr>
    <tr>
      <td>{{data['name']}}</td>
      <td>{{data['TypeName']}}</td>
      <td>{{data['date']}}</td>
    </tr>

  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
